<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebConjugacion.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <rewrite>
        <rules>
          <rule name="SpaRewriteRule" stopProcessing="true">
            <match url=".*"/>
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
              <add input="{REQUEST_URI}" pattern="\.js$" negate="true"/>
              <add input="{REQUEST_URI}" pattern="\.css$" negate="true"/>
              <add input="{REQUEST_URI}" pattern="\.json$" negate="true"/>
              <add input="{REQUEST_URI}" pattern="favicon.ico$" negate="true"/>
            </conditions>
            <action type="Rewrite" url="aws-test/aws-publish/ClientApp/dist/"/>
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 52b274f8-6d7c-4432-b84c-d7f283012ba2-->