table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid darkgray;
  }

  .mat-table {
    overflow: auto;
    max-height: 300px;
}

mat-expansion-panel {
  margin-bottom: 30px;
}