<div>
<img [src]="'assets/' + currentDataService.Config.schemaPic">    
</div>

<mat-form-field style="width: 75%; scroll-behavior: auto;">
<textarea matInput 
[(ngModel)]="sqlText"
 placeholder="Enter SQL query"></textarea>
</mat-form-field>
 <br/>
<button mat-flat-button mat-button color="primary"
(click)="showSQL()">Run SQL</button>
<br/>
<font color="red"
*ngIf="currentDataService.resultError"
>
<br>
{{currentDataService.resultError}}
</font>
<br>
<app-table-view style="margin: 5px; height: 200;"
    *ngIf="currentDataService.Data"
    [content]="currentDataService.Data"></app-table-view>

<app-gsi-solution></app-gsi-solution>