<p>live-sql component</p>
<div style="text-align: left;">
    <pre style="color:black; border:solid 1px darkgray; padding:10px; text-align:left;display: inline-block;" >
    <span style="color:#794938;">CREATE</span><span style="color:#16191F;"> </span><span style="color:#794938;">TABLE</span><span style="color:#16191F;"> Music (
        Artist </span><span style="color:#C1841;">VARCHAR</span><span style="color:#16191F;">(</span><span style="color:#98681;">20</span><span style="color:#16191F;">) </span><span style="color:#794938;">NOT</span><span style="color:#16191F;"> </span><span style="color:#184BB;">NULL</span><span style="color:#16191F;">,
        SongTitle </span><span style="color:#C1841;">VARCHAR</span><span style="color:#16191F;">(</span><span style="color:#98681;">30</span><span style="color:#16191F;">) </span><span style="color:#794938;">NOT</span><span style="color:#16191F;"> </span><span style="color:#184BB;">NULL</span><span style="color:#16191F;">,
        AlbumTitle </span><span style="color:#C1841;">VARCHAR</span><span style="color:#16191F;">(</span><span style="color:#98681;">25</span><span style="color:#16191F;">),
        </span><span style="color:#794938;">Year</span><span style="color:#16191F;"> </span><span style="color:#C1841;">INT</span><span style="color:#16191F;">,
        Price </span><span style="color:#C1841;">FLOAT</span><span style="color:#16191F;">,
        Genre </span><span style="color:#C1841;">VARCHAR</span><span style="color:#16191F;">(</span><span style="color:#98681;">10</span><span style="color:#16191F;">),
        Tags </span><span style="color:#C1841;">TEXT</span><span style="color:#16191F;">,
        PRIMARY </span><span style="color:#794938;">KEY</span><span style="color:#16191F;">(Artist, SongTitle)
    );</span></pre></div>
    
<textarea
[(ngModel)]="sqlText"
 placeholder="Enter SQL query"></textarea>
 <br/>
<button (click)="showSQL()">Run SQL</button>
<br/>
<font color="red"
*ngIf="currentDataService.resultError"
>
<br>
{{currentDataService.resultError}}
</font>

<app-table-view style="margin: 5px;"
    *ngIf="currentDataService.Data"
    [content]="currentDataService.Data"></app-table-view>

<app-gsi-solution></app-gsi-solution>