<div *ngIf="currentDataService.Data" style="padding: 10px;" >
<mat-form-field>
    <mat-label>Primary Key</mat-label>
    <mat-select  [(ngModel)]="primaryKey" required name="primaryKey">
    <mat-option *ngFor="let column of currentDataService.columns" [value]="column">
        {{column}}
    </mat-option>
    </mat-select>        
</mat-form-field>

<mat-form-field>
    <mat-label>Sort Key</mat-label>
    <mat-select [(ngModel)]="sortKey" name="sortKey">
    <mat-option value="">None</mat-option>
    <mat-option *ngFor="let column of currentDataService.columns" [value]="column">
        {{column}}
    </mat-option>
    </mat-select>
</mat-form-field>


<app-query-run [primaryKey]="primaryKey" [sortKey]="sortKey"></app-query-run>
</div>
