.menuItem {
    display: inline-block; 
    padding-left: 20px;
    padding-top: 4px;
}

label {
    padding-left: 10px;
}

.keyInput {
    width: 64px;
}

input[type=checkbox]
{
    vertical-align: middle; 
    margin: 0px;   
}