<p>gsi-solution component</p>
<div *ngIf="currentDataService.Data" style="padding: 10px;" >
    <div style="display: inline-block;">
        <label>Primary Key: </label>
        <select  [(ngModel)]="primaryKey">
        <option *ngFor="let column of currentDataService.columns" [value]="column">
            {{column}}
        </option>
        </select>        
    </div>

    <div class="menuItem">
        <label>Sort Key: </label>
        <select [(ngModel)]="sortKey">
        <option value="">None</option>
        <option *ngFor="let column of currentDataService.columns" [value]="column">
            {{column}}
        </option>
        </select>        
        <label>Operator: </label>
        <select style="width:64px"  [(ngModel)]="operator">
            <option value="=val">=</option>
            <option value="&gt;val">&gt;</option>
            <option value="&gt;=val">&gt;=</option>
            <option value="&lt;val">&lt;</option>
            <option value="&lt;=val">&lt;=</option>
            <option value=' LIKE "val%" '>begins_with()</option>
        </select>
        <label>Descending: </label>
        <input type="checkbox"
            [(ngModel)]="descending"
            >
    </div>

    <div class="menuItem">
        <label>Limit: </label>
        <select [(ngModel)]="limit">            
            <option *ngFor="let l of limitOptions" [value]="l.val">{{l.title}}</option>
        </select>        
    </div>
    <br>
    <table>
        <tr>
            <td>
                <label>Primary Key Value: </label>
            </td>
            <td>
                <input type="text" [(ngModel)]="primaryKeyValue" class="keyInput">
            </td>
        </tr>
        <tr>
            <td>
                <label>Sort Key Value: </label>
            </td>
            <td>
                <input type="text" [(ngModel)]="sortKeyValue" class="keyInput">
            </td>
        </tr>
    </table>
    <br>
    <div>
        <button 
        (click)=runQuery()>Query</button>
    </div>
  </div>
  