<mat-list-item [routerLink]="['/item/1']"> Aggregates </mat-list-item>
<mat-list-item [routerLink]="['/item/2']"> One-To-Many </mat-list-item>
<mat-list-item [routerLink]="['/item/3']"> Many-To-Many </mat-list-item>
<mat-list-item [routerLink]="['/item/4']"> Hierarcical Queries </mat-list-item>
<mat-list-item [routerLink]="['/item/5']"> Leaderboard </mat-list-item>
<mat-list-item [routerLink]="['/item/6']"> Sparse Index </mat-list-item>
<hr>
<mat-list-item [routerLink]="['/']"> About </mat-list-item>