.wordCheckForm {
  font-size: 16pt;
  width: 50%;
  margin: auto;
  text-align: center;
}

  .wordCheckForm input {
    min-width: 256px;
  }

  .wordCheckForm .irregular {
    color: darkred;
    font-weight: bold;
  }
